div.search-wrapper{
    text-align: center;
    padding:  2% 0;
    height: calc(100vh - 10%);

}
div.search-field{
    min-height: 60px;
    height: 10%;
    transition: ease-in-out 0.2s;
}
div.search-field mat-form-field, div.search-field-large mat-form-field{
    width: 50%;
}

div.search-field-large{
    margin: 10% 0;
    transition: ease-in-out 0.2s;
}


div.search-filter{
    min-height: 40px;
    height: 2%;
    text-align: center;
  
    padding: 20px;
}

div.search-filter button{
    float: right;
}


 div.search-results{
    text-align: center;
    min-height: 400px;
    height: 75%;
    overflow-y: auto;
}

mat-button.cancel-search{
   cursor: pointer;
}

div.search-results{
    text-align: left;
}

.result-card{
    margin: 5px;

}

div.mat-card-avatar{
    background-size: cover;
    cursor: pointer;
    box-shadow: 2px 2px #d0d1d7;
    width: 150px;
    height: 150px;
    border-radius: 5%;
}

div.mat-card-avatar:hover{
    box-shadow: 2px 2px #a1ace9;
}

span.error{
    color: rgb(237, 131, 131);
}




div.paginator{
    /* width: 90%; */
}

