div.search-wrapper{
    text-align: center;
    height: 100%;

}
div.search-field{
    min-height: 120px;
    padding: 10px;
    height: 15%;
    transition: ease-in-out 0.5s;
}
div.search-field mat-form-field, div.search-field-large mat-form-field{
    width: 50%;
}

div.search-field-large{
    min-height: 120px;
    height: 15%;
    padding-top: 15%;
    transition: ease-in-out 0.5s;
}


div.search-filter{
    min-height: 40px;
    height: 5%;
    text-align: center;
    padding: 5px;
}

div.search-filter button{
    float: right;
}


 div.search-results{
    text-align: center;
    min-height: 100px;
    max-height: 70%;
    overflow-y: auto;
    margin-bottom: 1px;
}

mat-button.cancel-search{
   cursor: pointer;
}

div.search-results{
    text-align: left;
}

.result-card{
    margin: 5px;

}

div.mat-card-avatar{
    background-size: cover;
    cursor: pointer;
    box-shadow: 2px 2px #d0d1d7;
    width: 150px;
    height: 150px;
    border-radius: 5%;
}

div.mat-card-avatar:hover{
    box-shadow: 2px 2px #a1ace9;
}

span.error{
    color: rgb(237, 131, 131);
}


